body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

#teleprompter {
  width: 100%;
  height: 90%;
  overflow: scroll;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-size: 36px; /* Initial font size, adjustable via slider */
  font-family: Helvetica;
}

.control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Distribuye los elementos uniformemente */
  z-index: 1000;
}

.control-bar label {
  color: white; /* Asegura que las etiquetas en la barra de controles sean blancas */
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px; /* Espacio entre los elementos */
}

button, input[type="range"], select {
  padding: 10px;
  min-width: 60px;
  min-height: 44px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin: 5px; /* Espacio entre botones */
  cursor: pointer;
  font-size: 16px;
}

input[type="color"] {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

button:focus, input[type="range"]:focus, select:focus {
  background-color: #555;
  outline: none;
}

@media (max-width: 768px) {
  .controls-container {
    flex-wrap: nowrap;
  }
}

#textColorControl option {
  color: black;
  background-color: #FFFFFF;
}

#controls button {
  background: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#controls button:hover, button#toggleScroll {
  background-color: rgba(255, 255, 255, 0.2);
}

button#toggleScroll {
  background-color: #222 /* #007BFF;   Bootstrap blue */
}

.menu-items {
  display: none;
  flex-direction: column;
  background-color: #222;
  padding: 5px;
  position: absolute;
  bottom: 50px;
  left: 10px;
}
