body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

#teleprompter {
  width: 100%;
  height: 90%;
  overflow: scroll;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-size: 36px; /* Initial font size, adjustable via slider */
  font-family: Helvetica;
}

.control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Distribuye los elementos uniformemente */
  z-index: 1000;
}

.control-bar label {
  color: white; /* Asegura que las etiquetas en la barra de controles sean blancas */
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px; /* Espacio entre los elementos */
}

button, input[type="range"], select {
  padding: 10px;
  min-width: 60px;
  min-height: 44px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin: 5px; /* Espacio entre botones */
  cursor: pointer;
  font-size: 16px;
}

input[type="color"] {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

button:focus, input[type="range"]:focus, select:focus {
  background-color: #555;
  outline: none;
}

@media (max-width: 600px) {
  .controls-container {
    flex-wrap: wrap;
  }
}

#textColorControl option {
  color: black;
  background-color: #FFFFFF;
}

#controls button {
  background: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#controls button:hover, button#toggleScroll {
  background-color: rgba(255, 255, 255, 0.2);
}

/* button#toggleScroll {
  background-color: #007BFF;  /* Bootstrap blue
} */

/* .menu-items {
  display: none;
  flex-direction: column;
  background-color: #222;
  padding: 5px;
  position: absolute;
  bottom: 50px;
  left: 10px;
}

.control {
  display: block; /* o 'flex', 'inline-block', etc., dependiendo de tu diseño
} */

.control {
  position: relative; /* Establece la referencia para el posicionamiento absoluto de los elementos internos */
}

.menu-items {
  display: none; /* Oculta inicialmente el menú */
  position: absolute; /* Posicionamiento absoluto para que no afecte el tamaño del contenedor */
  background-color: #f9f9f9; /* Color de fondo para el menú */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra para destacar el menú */
  z-index: 1000; /* Asegúrate de que el menú esté sobre otros elementos */
  right: 0; /* Alinea el menú a la derecha del botón */
  width: 200px; /* Ancho del menú */
}

.menu-toggle {
  /* Estilos para el botón que toggle el menú, ajusta según necesites */
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px; /* Padding para el botón */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cursor tipo pointer */
  width: 100%; /* Aprovecha todo el ancho posible */
}

.menu-toggle:hover {
  background-color: #45a049; /* Cambio de color al pasar el mouse */
}

.menu-items button {
  color: black; /* Color del texto de los botones */
  padding: 12px 16px; /* Padding */
  text-decoration: none; /* Sin decoración de texto */
  display: block; /* Hace que los botones se apilen verticalmente */
  border: none; /* Sin bordes */
  background: none; /* Sin fondo */
  width: 100%; /* Aprovecha todo el ancho */
  text-align: left; /* Alineación del texto */
}



#timer {
  font-size: 16px; /* Ajusta según necesario */
  font-family: Arial, sans-serif; /* Fuente legible */
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1100;
}

#myBtn:hover {
  background-color: #555;
}

#timer {
  position: fixed; 
  top: 10px; 
  right: 10px; 
  opacity: 0.7; 
  background-color: black; 
  color: white; 
  padding: 5px;
  border-radius: 15px; /* Esto añade esquinas redondeadas */
  transition: transform 0.2s, background-color 0.2s; /* Suaviza las transiciones de transformación y color */
}

#timer.active {
  transform: scale(1.2); /* Aumenta el tamaño */
  animation: blinkAnimation 1s linear infinite; /* Parpadeo */
}

@keyframes blinkAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

/* Desactiva la selección de texto para todos los elementos */
* {
  user-select: none;
}

/* Permite la selección de texto solo en el teleprompter cuando es editable */
#teleprompter[contenteditable="true"] {
  user-select: text;
}
